@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

             /* ОБЩИЕ СТИЛИ */

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #1C1C1C; /* фоновый цвет */
    color: #fff; /* цвет текста на всем сайте */
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0;
}

p + p {
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 500px;  /* ТОЛЩИНА ШРИФТА */
    margin: 0;
}

img {
    max-width: 100%;
} 

.container {
    box-sizing: border-box;

    max-width: 1170px;
    margin: 0 auto; /* ВНЕШНИЙ ОСТУП */
    padding: 0 15px; /* ПЕРВОЕ ЗНАЧЕНИЕ ВВЕРХ ВНИЗ ВТОРОЕ СЛЕВА СПРАВА */
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500; /* ЖИРНОСТЬ */
  font-size: 16px;

  width: 165px;
  height: 50px;

  background: #f6762c;
  border-radius: 5px; /* СКРУГЛЕНИЕ УГЛОВ */
  transition: opacity 0.3s;  /* ПЕРЕХОДЫ  */
}
   
.btn:hover {
   opacity: 0.8;
}

.btn__small {
    width: 140px;
    height: 40px;
    font-size: 14px;

}


                                                    /* ШАПКА HEADER */
.header {
   padding: 25px 0; /* ОТСТУПЫ */
   position: relative; 
   z-index: 10;
}

.header .container {
    display: flex;  /*  ЭЛУМЕНТЫ В РЯД  */
    justify-content: space-between;  /* ВЫРАВНИВАНИЕ ПО  ГЛАВНОЙ ОСИ */
    align-items: center;   /* ВЫРАВНИВАНИЕ ПО  ПОПЕРЕЧНОЙ  ОСИ */  
}


.header__logo {

}

.header__nav {

}

.header__list {
   display: flex;
   gap: 30px;  /* РАССТОЯНИЕ МЕЖДУ ЭЛМЕНТАМИ */
}

.header__nav a:hover {
    opacity: 0.9;
}

.header__nav a {
    font-size: 14px; /* РАЗМЕР ШРИФТА */
    opacity: 0.7; /* ПРОЗРАЧНОСТЬ */
    transition: opacity 0.3s;
}

.header__nav a.active {
  opacity: 1;
}


.main {

}
                /* ОСНОВНОЙ КОНТЕНТ WELCOME */    
.welcome {
    box-sizing: border-box; /* не будут добавлять внутренние отступы и границы к итоговой ширине. */ 
    min-height: 100vh;
 
    margin-top: -100px; /* ОТСТУП ВВЕРХ */
    padding: 240px 0; /* PADDING ВНУТРЕННИЙ ОТСТУП */

    background-image: url(welcome-bg.jpg); /* ФОНОВАЯ КАРТИНКА */
    background-repeat: no-repeat; /* ПОВТОРЕНИЕ*/
    background-size: cover; /*РАСТЯГИВАНИЕ КАРТИНКИ НА ВЕСЬ ЭКРАН */
    background-position: center; /* ИЗОБРАЖЕНИЕ ПО ЦЕНТРУ */
}

.welcome__subtitle { 
margin-bottom: 8px; /* ОТСТУП ВНИЗ */ /* MARGIN ВНЕШНИЙ ОТСТУП до другого края секции */
font-size: 14px;
letter-spacing: 0.1em;  /* РАССТОЯНИЕ МЕЖДУ БУКВАМИ */
}

.welcome__title {
font-size: 58px;
}

.welcom__desc {
 margin: 40px 0; /* ПЕРВОЕ ЗНАЧЕНИЕ ВВЕРХ ВНИЗ ВТОРОЕ СЛЕВА СПРАВА */
font-size: 18px;
opacity: 0.7;
}

.welcome__text {
    width: 550px;
}


/* СПИСОК ЕДЫ FOOD-LIST */

.food-list {
    padding: 100px 0;
}

.food-list .container {
    display: flex; /* ЭЛЕМЕНТЫ В РЯД */
    justify-content: space-between;  /* РАЗЪЕДУТСЯ НА ОДИНАКОВОЕ РАССТОЯНИЕ */
    flex-wrap: wrap; /* элемент будет переезжать, если будут сталкиваться */
    gap: 10px;
}

.food-list__card {
    width: 260px;

   overflow: hidden; /* отрезать лишнее */
   text-align: center; /* текст по центру */

    border-radius: 10px;
    background: #312F30;

}

.food-list__img {
    width: 100%;
    height: 175px;
    object-fit: cover; /* КАРТИНКА ПРОПОРЦИОНАЛЬНА */
}

.food-list__wrapper {
   padding: 30px 20px;
}

.food-list__title {
    margin-bottom: 13px;
   font-size: 20px;
}

.food-list__desc {
    font-size: 16px;
    opacity: 0.7;
}


/* ORDER */

.order {
    padding: 60px 0;
    background: #312F30;
}

 .order .container {
   display: flex;
   align-items: center;
   justify-content: space-between;

   padding-right: 100px;
}

.order__img {
   max-width: 470px;
}

.order__text {
   max-width: 360px;
}

.order__title {
    margin-bottom: 25px;
   font-size: 45px;

}

.order__desc {
    margin-bottom: 15px;
   opacity: 0.7;

}

.order__price {
font-weight: 500;
font-size: 20px;
letter-spacing: 0.1em;
color: #F6762C;

}

.order__old-price {
font-weight: 500;
letter-spacing: 0.1em;
text-decoration-line: line-through;
color: #F6762C;
opacity: 0.5;
}

.order__price + .order__price {
    margin-left: 3px;
}


 .order .btn {
   margin-top: 10px;
}

/* PRODUCT */


.product {
  padding: 150px 0;
}

.product .container {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   justify-content: center;
}

.product__card {
    box-sizing: border-box;
    width: 555px;
    min-height: 300px;
    /* flex-direction: column; все элементы идут в колонну */
    padding: 60px 30px 60px 290px;
   background-color: #776e6e;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center; 
}

.product__card:nth-child(even) /* выбирание каждого четного элемента */{
   padding-left: 30px;
   padding-right: 290px;
}

.product__title {
   font-size: 30px;
   margin-bottom: 20px;
}

.product__desc {
   opacity: 0.7;
   margin-bottom: 10px;
}

.product__price {
   font-weight: 500;
   letter-spacing: 0.1em;
   color: #F6762C;
}

.product__old-price {
    text-decoration-line: line-through;
    color: #F6762C;
    opacity: 0.5;
}

.product .btn {
    margin-top: 10px;
}

.product__price + .product__price {
   margin-left: 5px;
}

.card-gueen {
    background-image: url(product-1.jpg);

}

.card-hut {
    background-image: url(product-2.jpg);
}

.card-king {
  background-image: url(product-3.jpg);
}

.card-papa {
    background-image: url(product-4.jpg);
}


/* FEEDBACK */
.feedback {
    padding-bottom: 200px;
}

.feedback .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 880px;
    
}

.feedback__img {
   padding-right: 70px;
}

.feedback__text {
     max-width: 370px;
     margin: 0;
     text-align: center;
     /* display: flex;
     flex-direction: column; */
}

.feedback__text::before /* создание псевдоэлемента */ {
    content: url(quote.svg); 
}


.feedback__desc {
    margin: 30px 0;
    opacity: 0.7;

}

.feedback__autor {
    font-weight: 500;
    font-size: 24px;
    font-style: normal;
}

.feedback__subautor {
   opacity: 0.7;
   font-weight: 500;
   font-size: 12px;
   display: block;

}
/* DOWNLOAD */


.download {
   padding: 60px 0;
   background: #312F30;
  
}

.download .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.download__title {
    font-weight: 500;
    font-size: 40px;
}

.btn {

}

/* FOOTER */


.footer {
   padding: 120px 0;
}

.footer .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* grid-template-areas: "contacts nav socials"; */
}

.footer a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.3s;
}

.footer a:hover {
    color: rgba(255, 255, 255, 0.9);
  }

.footer .footer__title {
    display: inline-block; 
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
 }



.footer__contact {
   display: flex;
   flex-direction: column; /* при этом значение меняются оси */
   align-items: flex-start; 
}

.footer__logo {
    /* display: inline-block; */
    width: 70px;
    margin-bottom: 20px;
}

.footer_link + .footer_link {
    margin-top: 10px;
}


.footer_link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer_link::before {
    height: 12px;
    width: 12px;
}

.footer_link-mail::before {
     content: url(mail.svg);
}

.footer__link-web::before {  
    content: url(global.svg);
}

.footer__nav {
     
}

.footer__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}  

.footer__list-title {

}



.footer__inner-list {

}

.footer__list-item + .footer__list-item {
     margin-top: 15px;
}

.footer__socials {

}

.footer__socials-icons {

}

.footer__social-link + .footer__social-link {
margin-left: 7px;
}

/* АДАПТАЦИЯ ПОД ПЛАНШЕТ идти на убывание по пикселям */
 
@media (max-width: 1100px) {
    .welcom__desc {
        opacity: 1;
    }
}

@media (max-width: 950px) {
    .order .container {
        flex-direction: column; /* выстраивание в колонку */
        padding-right: 15px;
    }

    .order__text {
        text-align: center;
    }

    .order .btn {
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 850px) {
    .food-list .container {
        justify-content: space-evenly;
    }

    .footer .container {
       grid-template-columns: 1fr 1fr; 
       grid-template-rows: 1fr 1fr; /* два ряда гридов */
       grid-template-areas: "nav nav"
                            "contacts socials";
      justify-items: center; 
      gap: 40px 150px;
    }
/* кто какую ячейку будет занимать */
    .footer__contact {
      grid-area: contacts;
      justify-self: end;
    }

    .footer__nav {
      grid-area: nav;
      
    }

    .footer__socials {
        grid-area: socials;
        align-self: center;
        justify-self: start;
    }

    .footer__list {
       gap: 80px; 
    }

    .feedback {
        padding-bottom: 100px;
    }

    .footer {
        padding: 50px 0;
    }
}

@media (max-width: 650px) {
      .welcome {
      padding:  200px 0 100px;
      min-height: auto;
      }

    .header .btn {
        display: none;
    }

    .feedback__img {
        width: 200px;
    }

    .download__title {
        font-size: 24px;
    }

    .welcome__text {
        width: 100%;
    }

    .welcome__title {
        font-size: 40px;
    }
    .welcom__desc {
        margin: 20px 0;
    }

    .product {
        padding: 60px 0 100px;
    }

    .product__card {
        max-width: 100%;

        padding-left: 50%;
    }

    .product__card:nth-child(even) {
        padding-right: 50%;
    }



    

    


}

@media (max-width: 500px) {
        .header .container {
            flex-direction: column;
            gap: 10px;
        }
    
        .header__list {
           /* flex-wrap: wrap;
           justify-content: space-evenly; */
                /* второй вариант */

            flex-direction: column;
            text-align: center;
            gap: 5px;
        }
    
        .welcome {
         margin-top: -240px;
         padding-bottom: 80px;
         padding-top: 280px;
        }

        .welcome__title {
            font-size: 30px;
        }

        .welcome__subtitle {
            
        }

        .welcom__desc {
            font-size: 12px;
        }

        .food-list {
            padding: 60px 0;
        }

        .order__title {
          font-size: 24px;  
          margin-bottom: 10px;
        }

        .order__img {
            width: 100%;
        }

        .feedback .container {
            flex-direction: column;
        }
        .feedback, .product {
            padding-bottom: 60px;

        }

        .download .container {
            flex-direction: column;
            gap: 20px;
        }

        .footer .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .footer__contact {
            align-items: center;
        }

        .footer__socials-icons {
            display: flex;
            justify-content: center;
            gap: 15px;
        }

        .footer__list {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .footer .footer__title {
            margin-bottom: 10px;
        }

        .footer__list-item + .food-list-item {
            margin-top: 7px;
        }

        .footer__logo {
            margin-bottom: 10px;
        }

        .feedback__autor {
            font-size: 18px;
        }

        .feedback__desc {
           margin: 20px 0;
           font-size: 14px; 
        }

        .product__card {
            padding-left: 30px;
        }

        .product__card:nth-child(even) {
            padding-right: 30px;
        }

        .product__desc {
            opacity: 1;
        }

        .product__card {
        position: relative;

        text-align: center;
        }

        .product .btn {
            margin-right: auto;
            margin-left: auto;
        }

        .product__card > * {  /* выбрать все дочерние элементы  */
            position: relative;
           z-index: 10;

        }
/*  */
        .product__card::before {  /* слой затемнения */
            content: "";
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            
            position: absolute;
            left: 0;
            top: 0;
        }

        .welcome {
            position: relative;
        }

        .welcome .container {
            position: relative;
            z-index: 10;
        }

        .welcome::before {
                content: "";
                background-color: rgba(0, 0, 0, 0.5);
                width: 100%;
                height: 100%;
                
                position: absolute;
                left: 0;
                top: 0;
        }
    }


